@font-face {
    font-family: radikal-medium;
    src: url(../Radikal/Nootype\ -\ Radikal\ Medium.otf);
  }
  @font-face {
    font-family: radikal-bold;
    src: url(../Radikal/Nootype\ -\ Radikal\ Bold.otf);
  }
  @font-face {
    font-family: radikal-light;
    src: url(../Radikal/Nootype\ -\ Radikal\ Thin.otf);
  }
:root{
    /*****  cores  *****/
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
     --primary-color: lightblue;
    /*--secondary-color:;
    --toogle-color:; */
    --text-color:#707070;

    /* transições */

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease 

    /***** tipografia *****/
    

}


.dashboard-upper-cards{
    min-width:22%;
    align-items: center;
    display: flex;
    border-radius: 6px;
    background-color: aqua;
}
.upper-cards-row, .upper-cards-col{
    width: 100vw;
  
}
.upper-cards-row{
    justify-content: space-between;
    height: 20vh;
}

.upper-cards-col .upper-card{
    list-style: none;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.upper-card {
    
}